#chat{
	max-width: 600px;
	margin: 30px auto;
	border: 1px solid #ddd;
	box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
	border-radius: 2px;
}

#chat-window{
	height: 400px;
	overflow: scroll;
	background: #f9f9f9;
}

#output{
	padding: 10px;
}


#message {
	resize: vertical;
}

.text{
	padding: 10px 20px;
	box-sizing: border-box;
	background: #eee;
	border: 0;
	display: block;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #eee;
	font-family: Nunito;
	font-size: 16px;
	margin-bottom: 1px;
}

 button{
	background: #575ed8;
	color: #fff;
	font-size: 18px;
	border: 0;
	padding: 12px 0;
	width: 100%;
	border-radius: 0 0 2px 2px;
}