<!DOCTYPE html>
<html lang="en">

<head>
 	<meta charset="UTF-8">
 	<title>Chat</title>
 	<link href="../styles/styles.css" rel="stylesheet"/>
</head>

<body>
	<div id="chat">
		
		<div id="chat-window">
			<!-- output shows the chat history, feedback shows when someones typing -->
			<div id="output"></div>
			<div id="feedback"></div>
  		</div>
		<input class="text" id="handle" type="text" placeholder="Handle" />

		<textarea class="text" id="message" rows="5" name = "description" placeholder="Message"></textarea>
		<button id="send">Send!</button>
	</div>	
	<script src="../js/chat.js"></script>
</body>

</html>